* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Carter One", cursive;
}
html {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background: rgb(161,133,252);
background: radial-gradient(circle, rgba(161,133,252,1) 29%, rgba(171,0,255,1) 100%);
}
img {
  width: 50vw;
  height: 50vh;
}
.background {
  /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-auto-rows: minmax(100px, auto); */
    /* background: url(img/room-404-dribbble.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw; */
}
.text-container {
  max-width: 60vw;
  max-height: 90vh;
  background: url(img/thinking.webp) center center / contain no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2vh;
  left: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container h1 {
  margin: 0 2.5vw;
  max-width: 30vw;
}
.thinking-bean {
  position: absolute;
  bottom: 0;
  left: 10vw;
  width: 87px;
  height: 139px;
  transform: rotateY(180deg);
}
.car img {
  width: 13vw;
  height: 12vh;
  position: absolute;
  bottom: 4vh;
  left: 8vw;
  transform: rotate(9deg);
}
.car2 img {
  width: 13vw;
  height: 12vh;
  position: absolute;
  top: 3vh;
  right: 1vw;
  transform: rotate(14deg);
}
.fred img {
  width: 11vw;
  height: 27vh;
  position: absolute;
  bottom: 1vh;
  right: 3vw;
}
.cmd img {
  width: 17vw;
  height: 16vh;
  position: absolute;
  top: 5vh;
  left: 1vw;
  transform: rotate(-24deg);
}
@media (max-width: 800px) {
  .fred img {
    width: 24vw;
  }
  .text-container {
    max-width: 100vw;
    left: 0;
    height: 50vh;
    top: 20vh;
  }
  .text-container h1{
    max-width: 90vw;
    font-size: 16px;
  }
  .car img {
    width: 20vw;
    height: 8vh;
  }
  .car2 img {
    width: 20vw;
    height: 7vh;
  }
  .cmd img {
    width: 29vw;
    height: 10vh;
  }
}
